<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.qd03.dao.GoodsDao">

	<!-- 상품등록 -->
	<insert id="mtdRegProc" parameterType="java.util.Map">
	
		insert into goodsList 
		(goodsCode, goodsName, price, cnt)
		values
		(#{item1}, #{item2}, #{item3}, #{item4})
	
	</insert>
	
	<!-- 상품 전체 목록 출력 -->
	<select id="mtdList" resultType="com.qd03.dto.GoodsDto">
	
		select * from goodsList
		order by num desc
	
	</select>
	
	<!-- 상품 검색 목록 출력 -->
	<select id="mtdSearchList" resultType="com.qd03.dto.GoodsDto">
	
		select * from goodsList
		where goodsCode like concat('%', #{param1}, '%') 
		or goodsName like concat('%', #{param1}, '%')
		order by num desc
	
	</select>
	
	
	<!-- 상품 삭제, MyBatis 동적 SQL -->
	<delete id="mtdDel">
		delete from goodsList where  
		
		<foreach collection="array" item="item" index="index"  
			open="num in ("  separator=","   close=")">
			#{item}
		</foreach> 
		
	</delete>
	
	

	

</mapper>	




